<h1>BOOKS</h1>

<section id="search">
    <form action="/books" method="GET">
        <input type="text" name="title" placeholder="Harry Potter">
        <input type="number" name="rating" placeholder="minimum Rating">
        <button type="submit">Search</button>
    </form>
</section>
 
{{#each books}}
    <section class="book-summary">
        <h2>{{title}}</h3>
        <p>
            Author: {{this.author}} <br />
            Rating: {{this.rating}} <br />
            <a href="/books/{{_id}}">See details</a>
        </p>

  </section>
{{/each}}