<h1>AUTHORS</h1>

{{#each authors}}
    <section class="author-summary">
        <h2>{{name}}</h2>
        <div>
            Age: {{age}} <br />
            Country: {{country}} <br />
            Number of Books: {{numberOfBooks}}
        </div>
  </section>
{{/each}}